@model dynamic
@{
    Layout = "../Shared/_Layout.cshtml";
}

<form class="fm-center">
    <h5 class="fm-subtitle">Login to Continue</h5>
    <input type="hidden" value="@Url.Action("Login", "Auth")" redirect="@Url.Action("Index", "Home")" name="url"/>
    @Html.AntiForgeryToken()
    <div class="fm-cred">
        <input class="" placeholder=" " required="required" type="text" id="loginUsername" name="username"/>
        <label for="loginUsername">Username</label>
    </div>
    <div class="fm-cred">
        <input class="" placeholder=" " required="required" type="text" id="loginPassword" name="password"/>
        <label for="loginPassword">Password</label>
    </div>
    <button type="submit" class="fm-login-btn" data-text="Logging you in...">Login</button>
</form>