body {
}
input
{
    width:30%
}
button
{
    width:20%;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100%
}

.columnFlex {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.matches {
    width: 40%;
}

.sqParagraph {
    align-content: center;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

.drop {
    cursor: pointer;
}

.addPlayer,
.addSquad,
.removePlayer,
.removeSquad,
.managePlayer,
.manageSquad
{
    flex-direction: column;
    align-content: center;
    justify-content: space-between
}