@model FutManager.Models.ViewModels.HomeViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<p>Currently Live Matches</p>
@{
    foreach (var liveMatch in Model.LiveMatches)
    {
        <a href="@Url.Action("Index", "LiveMatch", new { channel = liveMatch.Channel })" >@liveMatch.Channel</a>
    }
}