@model dynamic
@{
    Layout = "../Shared/_Layout.cshtml";
}
<p>HELLOPOOO</p>
<a href="@Url.Action("Index", "LiveMatch", new { channel = "match_1" })" >Scores 1</a>
<a href="@Url.Action("Index", "LiveMatch", new { channel = "match_2" })" >Scores 2</a>
<a href="@Url.Action("Index", "LiveMatch", new { channel = "match_3" })" >Scores 3</a>